* {
    margin: 0;
    padding: 0;

}


/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px 20px;
    color: #fff;
}

.header-left {
    display: inline-flex;
}

.header-left h1 {
    color: aqua;

    text-shadow: 2px 2px 5px crimson;
}

.header-left img {
    max-width: 50px;
    margin-right: 10px;
}

.header-right p {
    margin-left: 20px;

}

.containerbig {
    display: flex;


}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {

    display: flex;
    justify-content: center;
    align-items: center;

}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu a {

    padding: 15px 20px;
    color: #333;
    text-decoration: none;
}



.customer-count {
    display: flex;
    position: relative;
    color: #333;
    font-weight: bold;
    font-size: larger;
    padding: 10px;


}

.sidebar {

    min-height: 250px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding: 2%;
    background: #333;
    color: #fff;
    margin-bottom: auto;
    border: solid;
    border-color: #fff;

}

.sidebar-menus {
    display: flex;
    flex-direction: column;
    position: relative;

}

.sidebar-menus a {
    padding: 5% 8%;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration: none;
    color: var(--whiteColor);
    border: solid;
    border-color: #fff;
}

.sidebar-menus a:hover {

    border-radius: 50px;
    transition: all 0.3s ease;
    border: solid;
    border-color: aqua;
}

.main-block {
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    padding: 35px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 2px solid #333;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    font-size: larger;

}

.main-block:hover {
    border: 5px solid aqua;
    cursor: pointer;
    transform: scale(1.0);
    color: aliceblue;
    background-color: #333;

}



.button-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-button {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border: 2px solid #3498db;
    border-radius: 30px;
    transition: all 0.3s ease;
}

/* Button hover effect */
.home-button:hover {
    background-color: #2980b9;
    border-color: #2980b9;
    color: #fff;
    transition: all 0.3s ease;
    border: solid;
    border-color: #fff;
}


/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 5px;

}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
    margin-bottom: 8px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    justify-content: center;
    padding: 20px;
    background-color: #222;
}

/* Responsive design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: 100vh;
        position: relative;
    }


}

/*CustomerNew CSS*/


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.customer-list {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}


.customer-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

}

.customer-list table th,
.customer-list table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.customer-list table th {
    background-color: #f2f2f2;
}

/* Styles for the New Customer Form */
.new-customer-form {

    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

.new-customer-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-right: 10px;

}

.new-customer-form input[type="text"] {
    min-width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.button {

    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border: 2px solid #3498db;
    border-radius: 30px;
    transition: all 0.3s ease;
    margin-top: 10px;
}


.button:hover {
    background-color: #2980b9;
    border-color: #2980b9;
    color: #fff;
    transition: all 0.3s ease;
    border: solid;
    border-color: #fff;
}


.lastEnterCustomer {
    align-items: center;
}